.App {
  text-align: center;
  background-color: #eee;
}

.App-header {
  background-color: #444;
  height: 120px;
  padding: 30px;
  color: white;
}

.App-intro {
  font-size: large;
  height: 200px;
  padding: 20px;
}